<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="container ">
  		<div class="jumbotron " >
  			<p>Your Account has not been approved yet.</p>
  			<a class="button-primary" href="{% url 'logout' %}"><button type="submit" class="btn btn-primary">Log Out</button></a>
  		</div>
  	</div>
    

    
  </body>

</html>
